# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary Files
*.swp
*.swo

# Dependency Caches
**/.gradle/**
**/build/**
**/.idea/**
