<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/chatroom-create.css">
</head>
<body>
<div class="container mt-5">
    <h2>채팅방 생성</h2>
    <form id="chatroomForm">
        <div class="mb-3">
            <label for="name" class="form-label">채팅방 이름</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">채팅방 생성</button>
    </form>
</div>

<script>
    document.getElementById("chatroomForm").addEventListener("submit", function(event) {
        event.preventDefault();

        const chatRoomData = { name: document.getElementById("name").value };

        fetch("/chatroom/create", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(chatRoomData)
        })
            .then(response => {
                if (!response.ok) throw new Error("채팅방 생성 실패");
                return response.json();
            })
            .then(data => {
                const chatRoom = data.data.chatRoom;
                const roomId = chatRoom.id;
                //roomId를 로컬 스토리지에 저장하고 /chatroom으로 이동
                localStorage.setItem("roomId", roomId);
                window.location.href = "/chatroom";
            })
            .catch(error => {
                console.error("Error:", error);
                alert("채팅방 생성 중 오류 발생");
            });
    });
</script>
</body>
</html>