<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/chatroom-create.css">
</head>
<body>
<!-- 뒤로가기 버튼 -->
<button class="back-btn" onclick="window.location.href='/'">뒤로가기</button>
<div class="container mt-5">
    <h2>채팅방 생성</h2>
    <form id="chatroomForm">
        <div class="mb-3">
            <label for="name" class="form-label">채팅방 이름</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">채팅방 생성</button>
    </form>
</div>

<script>
    // 로그인 상태 확인
    fetch('/loginStatus', {
        method: 'GET',
        headers: {'Content-Type': 'application/json'},
        credentials: 'include' //쿠키 포함(jwt)
    })
        .then(response => response.json())
        .then(data => {
            if (!data.loginStatus) {
                window.location.href = "/";
            }
        })
        .catch(error => {
            console.error("로그인 상태 확인 실패:", error);
        });

    document.getElementById("chatroomForm").addEventListener("submit", function(event) {
        event.preventDefault();

        const chatRoomData = { name: document.getElementById("name").value };

        fetch("/chatroom/create", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            credentials: 'include',
            body: JSON.stringify(chatRoomData)
        })
            .then(response => {
                if (!response.ok) throw new Error("채팅방 생성 실패");
                return response.json();
            })
            .then(data => {
                const chatroom = data.data.chatroom;
                const roomId = chatroom.id;
                //roomId를 세션 스토리지에 저장하고 /chatroom으로 이동
                sessionStorage.setItem("roomId", roomId);

                window.location.href = "/chatroom";
            })
            .catch(error => {
                console.error("Error:", error);
                alert("채팅방 생성 중 오류 발생");
            });
    });
</script>
</body>
</html>