<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<h1>로그인</h1>
<form onsubmit="submitLogin(event)">
    <div>
        <label>닉네임</label>
        <input type="text" name="nickName" required>
    </div>
    <div>
        <label>비밀번호</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">로그인</button>
    <button type="button" onclick="location.href='/register'">회원가입</button>
</form>
<script>
    // 로그인 성공 후 페이지 ®
    async function submitLogin(event) {
        event.preventDefault(); // 기본 form 제출 방지

        const nickName = document.querySelector('input[name="nickName"]').value;
        const password = document.querySelector('input[name="password"]').value;

        const response = await fetch('/login', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({nickName, password})
        });

        if (response.ok) {
            window.location.href = '/'; // 로그인 후 /로 리다이렉트
        } else {
            alert('아이디 또는 비밀번호가 잘못 되었습니다. 아이디와 비밀번호를 정확히 입력해 주세요.');
        }
    }
</script>
</body>
</html>