<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<!-- 뒤로가기 버튼 -->
<button class="back-btn" onclick="window.location.href='/'">뒤로가기</button>
<h1>회원가입</h1>
<form onsubmit="register(event)">
    <div>
        <label>닉네임</label>
        <input type="text" id="nickname" name="nickname" required onblur="checkNickname()">
        <div id="nicknameMessage"></div>
    </div>
    <div>
        <label>비밀번호</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" id="registerButton" disabled>가입</button>
</form>
<script>
    async function checkNickname() {
        const nickname = document.getElementById('nickname').value;
        const registerButton = document.getElementById('registerButton');
        const message = document.getElementById('nicknameMessage');

        if (!nickname) {
            message.textContent = '';
            registerButton.disabled = true;
            return;
        }

        const response = await fetch(`/checkNickname?nickname=${nickname}`);
        const { data: { available } } = await response.json();

        if (available) {
            message.textContent = '사용가능한 닉네임';
            message.style.color = 'green';
            registerButton.disabled = false;
        } else {
            message.textContent = '닉네임이 중복되었습니다.';
            message.style.color = 'red';
            registerButton.disabled = true;
            document.getElementById('nickname').focus();
        }
    }

    async function register(event) {
        event.preventDefault();
        const nickname = document.getElementById('nickname').value;
        const password = document.getElementById('password').value;

        const response = await fetch('/register', {
            method: 'POST',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ nickname: nickname, password: password })
        });

        console.log(response);

        window.location.href = "/"; // 성공 시 클라이언트에서 이동
    }
</script>
</body>
</html>