<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/register.css">
    <script>
        async function checkNickName() {
            const nickName = document.getElementById('nickName').value;
            const registerButton = document.getElementById('registerButton');
            const message = document.getElementById('nickNameMessage');

            if (!nickName) {
                message.textContent = '';
                registerButton.disabled = true;
                return;
            }

            const response = await fetch(`/checkNickName?nickName=${nickName}`);
            const { data: { available } } = await response.json();

            if (available) {
                message.textContent = '사용가능한 닉네임';
                message.style.color = 'green';
                registerButton.disabled = false;
            } else {
                message.textContent = '닉네임이 중복되었습니다.';
                message.style.color = 'red';
                registerButton.disabled = true;
                document.getElementById('nickName').focus();
            }
        }

        async function submitForm(event) {
            event.preventDefault();
            const nickName = document.getElementById('nickName').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/register', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ nickName, password })
            });

            const result = await response.json();
            const data = result.data;

            if (response.ok && data.jwt != null) {
                alert(nickName + "님 가입을 축하합니다.");
                window.location.href = '/'; // 성공 시 클라이언트에서 이동
            } else {
                alert(result.error);
                window.location.href = "/error";
            }
        }
    </script>
</head>
<body>
<h1>회원가입</h1>
<form onsubmit="submitForm(event)">
    <div>
        <label>닉네임</label>
        <input type="text" id="nickName" name="nickName" required onblur="checkNickName()">
        <div id="nickNameMessage"></div>
    </div>
    <div>
        <label>비밀번호</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" id="registerButton" disabled>가입</button>
    <a href="/login">로그인</a>
</form>
</body>
</html>